{% extends "base.html" %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <p>Personal project: <span style="font-size: 25px"><strong>Blog and To-do List Web Apps</strong></span></p>
                <p>Author: <strong>Ha Tran</strong></p>
            </div>
            <p>Framework: <strong>Django v3.0.6</strong></p>
            <p>Languages: <strong>Python v3.8.2, HTML5, Bootstrap4, CSS3</strong></p>
            <p>Database: <strong>SQLite3</strong></p>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <p><strong>Common Features:</strong></p>
            </div>
            <ul>
                <li>Register account</li>
                <li>Login</li>
                <li>Reset password</li>
                <li>Update profile, upload profile picture</li>
                <li>Logout</li>
            </ul>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <p>App: <span style="font-size: 20px"><strong>Blog</strong></p>
            </div>
            <p>Features:</p>
            <ul>
                <li>Create, update, delete posts</li>
                <li>View a list of posts created by a specific author</li>
                <li>Access API to get the list of posts in Json format</li>
            </ul>
            <br>
            <p>Rules:</p>
            <ul>            
                <li>Only logged in users can create, update, delete posts</li>
                <li>The logged in users can only update and delete posts created by themselves</li>
            </ul>            
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <p>App: <span style="font-size: 20px"><strong>To-do List</strong></p>
            </div>
            <p>Features:</p>
            <ul>
                <li>Add, update, delete a to-do item</li>
                <li>Mark an item done, the closed items will be crossed off</li>
                <li>Reopen completed items</li>
            </ul>
            <br>
            <p>Rules:</p>
            <ul>
                <li>Only logged in users can create, update, delete to-do list</li>
            </ul>            
        </div>
    </article>    
{% endblock content %}